name: CI

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Install dependencies
        run: nix develop --impure --command npm ci

      - name: Lint
        run: nix develop --impure --command npm run lint:check

      - name: Test
        run: nix develop --impure --command npm run test
